/*BEGIN Xbox One Controller Styling*/
.controller.xbox {
    background: url(basemod2.png);
    height: 630px;
    width: 750px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}

.xbox .quadrant {
    position: absolute;
    background: url(quadrantmod1.png);
    height: 45px;
    width: 45px;
    top: 258px;
    left: 354px;
    z-index: 0;
}


/*END Xbox One Controller Styling*/
